//Primary colors
$lightYellow: hsl(47, 95%, 75%);
$yellow: hsl(47, 92%, 62%);
$darkerYellow: hsl(39, 96%, 68%);
$lightPink: hsl(0, 100%, 99%);
$pink: hsl(0, 63%, 74%);
$orange: hsl(26, 91%, 70%); 
$brown: hsl(19, 28%, 29%);
$black: #232222;
$grey: hsl(0, 1%, 60%);
$yellow-pink-gradient: linear-gradient(hsl(47, 95%, 70%), #E69191); 
$pink-white: linear-gradient(hsl(7, 71%, 78%), hsl(0, 0, 100));


//Fonts mobile
$med-font: 1rem;
$small-font: 0.9rem;

//Font family
$quantico: 'Quantico', sans-serif;
